*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 20px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--Light-gray);

    h1:first-child{ text-align: center }
}