*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 54%;
    margin: 0 auto 20px auto;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    background-color: var(--Light-gray);

    .title-page{
        margin-block: 20px;
        text-align: center;
    }
}

@media screen and (width <= 1440px){body{font-size: 17px}}
@media screen and (width <= 1300px){body{font-size: 16px}}
@media screen and (width <= 500px){body{font-size: 15px}}